.header{
    background: linear-gradient(rgb(75, 77, 78) 50%,rgb(34, 171, 235) 50%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 5rem;
    padding: 0 1rem;
    font-size: 2rem;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 1rem;
}